<div class="container">
  <h1>{{'ABOUTHEAD' | translate}}</h1>
  <div class="row">
    <h4>{{'ABOUTSUBHEAD' | translate}}</h4>
    <table class="table-striped">
      <tbody>
        <tr>
          <td>{{'ABOUTONE' | translate}}</td>
          <td>{{'TONE' | translate}}</td>
        </tr>
        <tr>
          <td>{{'ABOUTTWO' | translate}}</td>
          <td>{{'TTWO' | translate}}</td>
        </tr>
        <tr>
          <td>{{'ABOUTTHREE' | translate}}</td>
          <td>{{'TTHREE' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <div class="ui-content" id="aboutbutton">
    <a href="/#whoami" class="button button-border-highlight button-circle">{{'GETSTARTED' | translate}}</a></span>
  </div>
  <br>
  <br>
  <br>
  <footer>
    <div ng-include src="'partials/contact_information.html'">
    </div>
  </footer>
