<div class="container">
    <h1>{{'ABOUTHEAD' | translate}}</h1>
    <br>
    <br>
    <div class="row">
        <h4>{{'ABOUTSUBHEAD' | translate}}</h4>
        <table class="table-striped">
            <tbody>
                <tr>
                    <td>{{'ABOUTONE' | translate}}</td>
                    <td>{{'TONE' | translate}}</td>
                </tr>
                <tr>
                    <td>{{'ABOUTTWO' | translate}}</td>
                    <td>{{'TTWO' | translate}}</td>
                </tr>
                <tr>
                    <td>{{'ABOUTTHREE' | translate}}</td>
                    <td>{{'TTHREE' | translate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div class="ui-content" id="aboutbutton">
        <a href="/#whoami" class="button button-border-highlight button-circle">{{'GETSTARTED' | translate}}</a></span>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>HQ</p>
                    <p>Tehama St.,
                        <br>San Francisco, CA</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (619) 940-8675</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ono.ucsb@gmail.com">ono.ucsb@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/ono760"><i class="fa fa-github fa-fw fa-4x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ono760"><i class="fa fa-linkedin fa-fw fa-4x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">{{'COPYRIGHT' | translate}}</p>
                </div>
            </div>
        </div>
    </footer>
