<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <ul class="list-unstyled">
      <li>HQ</li>
      <li>Tehama St.,</li>
      <li>San Francisco, CA </li>
      <li><i class="fa fa-phone fa-fw"></i> (415) 715-9648</li>
      <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ono.ucsb@gmail.com">ono.ucsb@gmail.com</a>
      </li>
    </ul>
    <br>
    <ul class="list-inline">
      <li>
        <a href="https://github.com/ono760"><i class="fa fa-github fa-fw fa-4x"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ono760"><i class="fa fa-linkedin fa-fw fa-4x"></i></a>
      </li>
    </ul>
    <hr class="small">
    <p class="text-muted">{{'COPYRIGHT' | translate}}</p>
  </div>
</div>
