<h1>{{'WELCOMESEEKER' | translate}}</h1>
<h4>{{'SEEKERLUCK'| translate}}</h4>
<div class="list-group col-sm-2">
    <button class="list-group-item" ng-click="show('edit')"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; {{'POSTPROF'|translate}}</button>
    <button class="list-group-item" ng-click="show('gigs')"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; {{'BROWSEGIGS'|translate}}</button>
    <button class="list-group-item" ui-sref="/chatroom" ui-sref-active="active"><i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>&nbsp; {{'CHAT'|translate}}!</button>
</div>
<div ng-show="poster.showEdit" class="container">
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <form id="postProfForm" name="postProfForm" ng-submit="postProfile(newPost)" class="newForm" ng-show="poster.showEdit">
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.first_name), 'has-success': postProfForm.first_name.$valid }">
            <label for="first_name" ng-class="{'text-danger': checkForError(postProfForm.first_name), 'text-success': postProfForm.first_name.$valid }">{{'FIRST'|translate}}</label>
            <input type="text" class="form-control" name="first_name" placeholder="First Name" ng-model="newPost.first_name" required>
            <p ng-show="checkForError(postProfForm.first_name)" class="help-block">Enter your first name: </p>
        </div>
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.last_name), 'has-success': postProfForm.last_name.$valid }">
            <label for="last_name" ng-class="{'text-danger': checkForError(postProfForm.last_name), 'text-success': postProfForm.last_name.$valid }">{{'LAST' | translate}}</label>
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-model="newPost.last_name" required>
            <p ng-show="checkForError(postProfForm.last_name)" class="help-block">Enter your last name: </p>
        </div>
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.phone_number), 'has-success': postProfForm.phone_number.$valid }">
            <label for="phone_number" ng-class="{'text-danger': checkForError(postProfForm.phone_number), 'text-success': postProfForm.phone_number.$valid }">{{'PHONE' | translate}}</label>
            <input type="text" class="form-control" name="phone_number" placeholder="Phone Number" ng-model="newPost.phone_number" required>
            <p ng-show="checkForError(postProfForm.phone_number)" class="help-block">Enter your phone number: </p>
        </div>
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.email), 'has-success': postProfForm.email.$valid }">
            <label for="email" ng-class="{'text-danger': checkForError(postProfForm.email), 'text-success': postProfForm.email.$valid }">{{'EMAIL'|translate}}</label>
            <input type="text" class="form-control" name="email" placeholder="Email" ng-model="newPost.email" required>
            <p ng-show="checkForError(postProfForm.email)" class="help-block">Your Email Address: </p>
        </div>
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.location), 'has-success': postProfForm.location.$valid }">
            <label for="location" ng-class="{'text-danger': checkForError(postProfForm.location), 'text-success': postProfForm.location.$valid }">{{'LOC'|translate}}</label>
            <input type="text" class="form-control" name="location" placeholder="Location" ng-model="newPost.location" required>
            <p ng-show="checkForError(postProfForm.location)" class="help-block">Location: </p>
        </div>
         <label>{{'SUM'|translate}}</label>
        <textarea class="form-control" rows="10" name="summary_skills" placeholder="Summary of skills..." ng-model="newPost.summary_skills" required></textarea>
        <div class="form-group" ng-class="{'has-error': checkForError(postProfForm.languages), 'has-success': postProfForm.languages.$valid }">
            <label for="languages" ng-class="{'text-danger': checkForError(postProfForm.languages), 'text-success': postProfForm.languages.$valid }">{{'LANGUAGES'|translate}}</label>
            <input type="text" class="form-control" name="languages" placeholder="Which language? English? Spanish? Both?" ng-model="newPost.languages" required>
            <p ng-show="checkForError(postProfForm.languages)" class="help-block">Please enter any languages that you speak</p>
        </div>
        <input type='submit' class="btn btn-default" value={{'POSTPROF'|translate}}>
    </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 ng-show="poster.showGigs">{{'GIGSAVAL'|translate}}</h3>
<div ng-show="poster.showGigs" id="seekerProf" class="well" ng-repeat="gig in poster.gigs.data | orderBy: view.orderVal | filter:view.searchPosts">
    <div class="row">
        <div class="col-xs-3">
            <p><strong>{{'GIGLOC' | translate}}</strong> {{gig.gig_location}}</p>
            <p><strong>{{'GIGAMT' | translate}}</strong>{{gig.gig_amount | currency}}</p>
        </div>
        <div class="col-xs-9">
            <p class="pull-right"><strong>{{'POSTEDBY'|translate}}</strong>{{ gig.first_name + " " + gig.last_name}}</p>
            <p class="clear"><strong>{{'GIGDESC' | translate}}</strong>{{ gig.gig_description}}</p>
            <br>
            <p class="clear"><strong>{{'GIGLANG' | translate}}</strong>{{ gig.gig_lang_accepted}}</p>
            <p>
                <span class="glyphicon glyphicon-envelope"></span><strong>{{'REPLYPROF' | translate}}</strong>     {{ gig.gig_reply_email}}
                <span class="glyphicon glyphicon-calendar"></span> <strong>{{'POSTEDON' | translate}}</strong>   {{gig.created_at}}
            </p>
        </div>
    </div>
</div>
<div ng-show="poster.showChat">
    <h1>Chat window</h1>
</div>
