<div ng-cloak>
    <h1 ng-cloak>{{'HEADLINE' | translate}}</h1>
</div>
<br>
<h5> {{home.selectLanguage}}</h5>
<h5> {{home.selectLanguageEs}}</h5>
<div id="homeButtons" data-role="main" class="ui-content" ng-controller="TranslateControl">
    <span class="button-wrap"><a href="/#about" class="button button-circle button-primary" ng-click="changeLanguage('en')" translate>English</a></span>
    <span class="button-wrap"><a href="/#about" class="button button-circle button-primary" ng-click="changeLanguage('es')" translate>Español</a></span>
</div>
<br>
<br>
<br>
<footer>
    <div ng-include src="'partials/contact_information.html'">
    </div>
</footer>
